* {
    box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

#topNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #01001a;
  background: linear-gradient(100deg, #01001a, rgb(60, 60, 60));
  /* position: relative; */
  margin-top: 0;
  width: 100%;
  overflow-x: hidden;
  height: 250px;
}
